* {
	margin: 0;
	padding: 0;
}

body {background-color: #b0c4de;
		}
h1{
	font-size: 24px;
}

h2{
	font-size: 16px;
}
#wrapper { width:950px; margin:20px auto;}

#header {font:30px Arial, Helvetica, sans-serif;	text-align: center;}

#image{width:900px;  width:100%; position: center, height:80px;}

#impress{width:100%; 		
		background-color: #F0EEDB;
		height: 200px;
		font-family: arial, verdana, tahoma, san-serof;
		margin: 10px;
		}
		
#imp_nev{
	padding: 20 10;
    font-stretch: condensed;
    font-size: 24px;
}
#imp{
	font-style: italic;
	padding: 20 10;
}

#sidebar1 {width:180px; 
		padding:10px; 
		float:left; 
		padding: 15px;}
		
#start {width:100%; 
		font-size: 16px;
		float:center; 
		background-color:#FFFFFF;
		}
#start h1{
	font-size: 18px;
    text-align: center;
    padding: 20px;
}

#start p{
    padding: 20px;
}

#nev{
	font-weight: bold;
    text-align: right;
}

#footer {
    background-color: #FFFFF;
    clear: both;
    font-size: 12px;
    text-align: center;
	}

.menu
{
   list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #022859;
	width:100%;
}

.menu td {
	 float: left;
}

.menu td a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

a:hover {
    background-color: #35648C;
}

.tablazat {
	color: #fff;
	margin: 0 auto;
	background-color: #f3f3f3;
	border-collapse: separate;
	border-spacing: 25px;
}
.tablazat td {
	width: 300px;
    border: 2px;
    border-style: double;
    border-width: thick;
    border-color: #b0c4de;
    border-radius: 15px;
	vertical-align: top;
	text-align: center;
}
.tablazat td img {
	width: 150px;
}

.tablazat td p{
	font-family: arial, verdana, tahoma, san-serof;
	font-size: 14px;
	color: black;
	text-align: justify;
    margin: 10;
}
.tablazat td h1{
	margin: 5px;
	text-align: center;
	color: black;
	font-size: 18px;
}
.tablazat td h2{
	margin: 5px;
	text-align: center;
	color: black;
	font-size: 16px;
}

.feltolt{
	color: #fff;
	margin: 0 auto;
	width: 100%;
	background-color: #F0EEDB;
	border-collapse: separate;
	border-spacing: 25px;
	height: 200px;
	font-family: arial, verdana, tahoma, san-serof;
	font-size: 14px;
	padding: 15px;
}

#hiba{
	font-size: 14px;
	color: black;
	padding: 20 15;
	
}





